body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  height: 100vh;
}
.container {
  background-color: #ffd600;
  box-shadow: rgba(53, 51, 51, 0.315) 0px 2px 1px 1px;
  height: 8vh;
  padding: 0px;
  justify-items: end;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 4fr;
  grid-template-areas:
    'logoMain content nav  '
    'content content content';
}

.signContainer {
  height: 100vh;
  background-color: #ffd600;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    'logo'
    'username'
    'password'
    'signIn';
}
.eigth {
  display: flex;
  height: 83%;
  flex-direction: column;
  align-items: center;
  width: 652px;
  border-spacing: revert;
  gap: 10px;
  background: #777974;

}
div.eigth {
  overflow: scroll;
  display: flex;
  height: 83%;
  flex-direction: column;
  align-items: center;
  width: 652px;
  border-spacing: revert;
  gap: 10px;
  padding: 20px;
  background: #777974;
}
div.list-content {
  height: 737px;
  display: flex;
}
div.schdule-sheet {
  height: 737px;
  display: flex;
}

.column {
  height: 75px;
  background: white;
  font-size: medium;
  display: inline-flex;
  font-weight: 500;
  grid-gap: 21px;
  grid-gap: 21px;
  gap: 21px;
  padding: 18px;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
}
.column hr {
  background: gray;
}
.column span {
  font-weight: 600;
}
.column .date {
  font-size: large;
  font-weight: 600;
}

.signIn {
  margin-left: 16%;
  margin-top: 2%;
  position: absolute;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  color: darkgoldenrod;
  font-kerning: none;
}
.signContainer username password button {
  position: absolute;
  align-items: center;
}
.PasswordReq {
  color: rgba(53, 51, 51, 0.315);
  margin: 10px;
}
.errButton {
  color: #ffffff;
  background-color: brown;
  margin-top: 5px;
  height: 30px;
  padding: 7px;
  width: 90px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  margin-right: 203px;
}

.errButton:hover {
  background-color: rgb(235, 14, 14);
  margin-top: 5px;
  height: 30px;
  padding: 7px;
  width: 90px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: flex-start;
  margin-right: 203px;
}

.logo {
  margin-left: 20px;
  margin-top: 14px;
  margin-bottom: 7px;
  display: block;

  width: 19vw;
  height: 5vh;
}
.logoSIGNUP {
  margin-bottom: -64px;
  display: flex;
  margin-left: -60px;
  margin-bottom: -4%;
}

.logoMain {
  margin-left: 18px;
  margin-top: 18px;
  margin-bottom: 3px;
  display: block;
  height: 9.5vh;
  width: 30vw;
}

.username {
  /* position: absolute; */
  margin: 5px;
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 5px;
  height: 30px;
  width: 305px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.usernameSU {
  /* position: absolute; */
  margin: 5px;
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.passwordSU {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 35px;
  width: 195px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.password {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 305px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.fullName {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 290px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.dateOFbirth {
  /* position: absolute; */
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 29px;
  margin-top: 3px;
  width: 89px;
  border-radius: nullpx;
}
.email {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.phoneNumber {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.state {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.school {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
#password_confirmation {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 182px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.idNumber {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.signIn {
  position: absolute;
  right: 36.04%;
  top: 70.26%;
  margin-top: 3.5%;
  margin-right: 1.5%;
}

.signUp {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
  margin-top: auto;
}

.closeButton {
  margin-left: 388px;
  margin-bottom: 20px;
  border: none;
  background: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
}
.logoSUP {
  margin-top: -10px;
  height: 20%;
  margin-inline-end: 30px;
}

.signupFORM {
  display: inline-block;
  justify-content: center;
  margin-top: 40%;
}

.signUP {
  margin-left: 150px;
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
}

nav {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 15px;
}

a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  list-style: none;
  gap: 10px;
}

nav h3 {
  list-style: none;
  color: aliceblue;
  font-size: larger;
  font-weight: 600;
}
.content {
  background-color: yellow;
  height: 100vh;
}

nav a:hover {
  color: rgb(65, 61, 4);
}

.nav-toggle {
  display: none;
}
#user_name {
  font-size: larger;
  font-weight: 700;
}
.logout {
  background: none;
  font-size: small;
  border: none;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      'logo  '
      'menu'
      'content';
  }

  .eventslist {
    padding: 10px;
    background: whitesmoke;
    border-radius: 2px;
    box-shadow: black 1px 7px 3px 0px;
  }

  .errButton {
    background-color: brown;
    margin-bottom: 60px;
    height: 30px;
    padding: 7px;
    width: 90px;
    border: none;
    border-radius: 30px;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    gap: 200px;
    margin-right: 23px;
  }
}
@media screen and (max-width: 550px) {
  .signContainer {
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 11.2fr 1.2fr;
    grid-template-areas:
      'username'
      'password'
      'signIn';
  }
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 47px;
  background-color: #9e9c8d;
}

.profilebox {
  height: 100vh;
  width: 753px;
  left: 346px;
  top: 138px;
  border-radius: 2px;
  background-color: #ffd600;
  margin-top: 3px;
}

.profile-content {
  margin: 10%;
  padding: auto;
}

.profileicon {
  height: auto;
  width: 100px;
  left: 612px;
  top: 202px;
  border-radius: 0px;
  margin-top: 20px;
}

.mascotSIGNIN {
  margin: 26%;
  margin-bottom: -6%;
  height: 241px;
  width: 179px;
  left: 184px;
  top: 242px;
  border-radius: 0px;
  margin-left: 61px;
}
.mascot {
  margin: 10px;
  height: 100px;
  width: 75px;
  left: 181px;
  top: 242px;
  border-radius: 0px;
}

.gradesbox {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #9e9c8d;
}

.gradestitle {
  width: 753px;
  height: 844px;
  left: 381px;
  top: 138px;
  flex-direction: column;
  align-items: center;

  background: #c4c4c4;
}

.mappedgrades {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.gradestitle {
  display: flex;
  width: 500px;
}

.err-content {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.err {
 
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ee1414;
  color: white;
  height: 100vh;
  width: 753px;
  left: 376px;
  top: 138px;
  border-radius: 0px;
}

.errfullpage {
  background-color: #fa2a00;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

textarea {
  height: 122px;
  width: 523px;
  left: 466px;
  top: 378px;
  border: none;
  border-radius: 3px;
}

.newTitle {
  height: 66px;
  width: 523px;
  left: 467px;
  top: 506px;
  border: none;
  border-radius: 0px;
}

.helpbutton {
  width: 214px;
  height: 64px;
  left: 621px;
  top: 607px;
  border: none;
  background: #ffd600;
  border-radius: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.form-content {
  margin-right: 4%;
  height: 36vh;
  width: 42vw;
  margin-top: -5%;
  padding: -1px;
}
.canceled {
  border: none;
  background: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.schedulebox {
  margin-top: 5%;
  padding: 10px;
  background: whitesmoke;
  border-radius: 2px;
}

.input-const {
  height: 144px;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: row;
  background: #fed700;
  padding: 22px;
  width: 48%;
  height: 152px;
  background: #ffd600;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.input-const input {
  height: 30px;
  border: none;
  gap: 10px;
}
.input-const button {
  height: 30px;
  border: none;
  gap: 10px;
  background: none;
}
.schedulebackground {

  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border-spacing: revert;
  grid-gap: 10px;
  grid-gap: 10px;
  gap: 10px;
  background: #777974;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.schedule-content {
}

.eventsbackground {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #9e9c8d;
}

.eventsbox {
  width: 753px;
  height: 100vh;
  left: 381px;
  top: 138px;
  background: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.eventTitle {
  height: auto;
  width: auto;
}

.formbox {
  width: 199%;
}
.placement {
  display: flex;
}
.addEvent {
}
