body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signContainer {
  height: 100vh;
  background-color: #ffd600;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    'logo'
    'username'
    'password'
    'signIn';
}

.signIn {
  margin-left: 16%;
  margin-top: 2%;
  position: absolute;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  color: darkgoldenrod;
  font-kerning: none;
}
.signContainer username password button {
  position: absolute;
  align-items: center;
}
.logo {
  margin-top: 8px;
  position: absolute;
  display: block;
  height: 20vh;
  width: 39vw;
}

svg {
  margin-bottom: -64px;
  text-align: justify;
  /* position: absolute; */
  display: flex;
  height: 34vh;
  /* width: 34vw; */
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -60px;
  margin-top: 52px;
}
.username {
  /* position: absolute; */
  margin: 5px;
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 5px;
  height: 30px;
  width: 305px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.usernameSU {
  /* position: absolute; */
  margin: 5px;
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.passwordSU {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 35px;
  width: 195px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.password {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 305px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.fullName {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 290px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.dateOFbirth {
  /* position: absolute; */
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 29px;
  margin-top: 3px;
  width: 89px;
  border-radius: nullpx;
}
.email {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.phoneNumber {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.state {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.school {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
#password_confirmation {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 182px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.idNumber {
  /* position: absolute; */
  left: 32.41%;
  right: 36.04%;
  top: 44.4%;
  bottom: 50.71%;
  background: #ffffff;
  border-radius: 3px;
  border: none;
  margin: 5px;
  padding: 9px;
  height: 30px;
  width: 405px;
  left: 893px;
  top: 690px;
  border-radius: nullpx;
}
.signIn {
  position: relative;
  left: 59.06%;
  right: 36.04%;
  top: 70.26%;
}

.signUp {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  display: flex;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
  margin-top: auto;
}

.closeButton {
  margin-left: 388px;
  margin-bottom: 20px;
  border: none;
  background: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
}
.logoSUP {
  margin-top: -10px;
  height: 20%;
  margin-inline-end: 30px;
}

.signupFORM {
  display: inline-block;
  justify-content: center;
  margin-top: 40%;
}

.signUP {
  margin-left: 150px;
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: 300;
  justify-content: center;
  color: darkgoldenrod;
  font-kerning: none;
}
